html,body{
	height: 100%;
}
.name{
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.left{
	width: 200px;
	float: left;
	height: 100%;
	border-right: 1px solid #ddd;
	.function{
		height: 30px;
		text-align: center;
		line-height: 30px;
	}
	.function:hover{
		cursor:pointer;
	}
}
.right{
	float: left;
	height: 100%;
}
#advices,#paperList{
	td{
		border:1px solid #ddd;
	}
}